*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
    background:#141414;
    overflow-x: hidden;
    overflow-y: scroll;
    background-attachment: fixed;
}
body .container{
    display: block;
}
body header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100vw;
    font-size: 2.5rem;
    color:white;
    padding: 3rem;
}
body header img{
    width: 8rem;
}
body #center{
    position: absolute;
    font-size: 2rem;
    z-index: 100;
    color:white;
    top:50%;
    left: 50%;
}
body #yearcounter{
    position: absolute;
    font-size: 2.5rem;
    z-index: 100;
    color:white;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    left: 50%;
    top:10%;
    transform: translate(-50%);
}
body .container {
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
.container h2{
    position: absolute;
    top:50%;
    left: 50%;
    font-size: 25rem;
    color:gray;
    z-index: -1000;
    transform: translate(-50%,-50%);
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    letter-spacing: -10px;
}
body .container .imagestrip {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-11%,-50%);
    scroll-behavior: smooth;
}
body .container .imagestrip span{
    display: block;
}
body .container .imagestrip .memories{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 4vmin;
} 

#image-2nd-2022{
    object-fit: contain;
    height: 15rem;
}
body .container .imagestrip span{
    font-size: 3rem;
    color: white;
    z-index: 99;
    margin:4vmin;
    font-size: 5rem;
    font-weight: bold;
    background-size: 300%;
}
body .container .memories img{
    width:50vmin ;
    height: 70vmin;
    object-fit: cover;
    object-position: 100% -50%;
    box-shadow: 0 0 25px black;
}